<!DOCTYPE html>
<html lang="en">
<head>

    style 
        include style.css
</head>
<body>
    <h1>
         this is pug with plane html
    </h1>
    <h4> you have suucessfully created a backend with pug </h4>
    <div>
        <ul>
            <li>
                <a href="demo.pug"> demo file</a>
            </li>
            <li>
                <a href="https://www.w3schools.com/html/html_css.asp"> w3schools</a>
            </li>
            <li>
                <a href="https://www.w3schools.com/html/html_css.asp"> w3schools</a>
            </li>
        </ul>
    </div>
    
    <div id=" new">
        <input placeholder="enter name" type="text">
        <input placeholder="number" type="number">
        <input placeholder="enter name" type="text">
        <input placeholder="number" type="number">
    </div>
</body>
</html>